<ion-header>
  <ion-toolbar>
    <ion-title (click)="back()">
        <ion-icon name="arrow-back-circle" ></ion-icon> Go Back
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  

  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        *ngFor="let photo of x; index as position"
      >
      <ion-col *ngIf="photo.filepath == path">
        <ion-img   [src]="photo.webviewPath"></ion-img>
      </ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="decodeImage()">
    Decode
  </ion-button>
  <ion-button (click)="showResults()">
    Show
  </ion-button>


  <ion-label *ngIf="storedResult">
    {{storedResult}}
  </ion-label>

</ion-content>
