<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Make New Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="user-select: text;">
  <ion-grid>

 
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col>
          <ion-spinner *ngIf="Spinner" name="dots"></ion-spinner>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>


    <!-- <ion-textarea id = "inpp"></ion-textarea>  -->
    <div  *ngIf="highLightFlag == false" >
      <!-- <p > -->
        <h2 *ngIf="showOnScreen" style="background-color:chartreuse;">Edit ?? </h2>
      <!-- </p> -->
      <ion-textarea *ngIf="showOnScreen"  [(ngModel)]="showOnScreen"
        id="input" autoGrow = true></ion-textarea>
    </div>

        <h2  *ngIf="highLightFlag" style="background-color:chartreuse;">Select the text you want to highlight 
        </h2>
          <h4 *ngIf="highLightFlag" style="user-select: text;" >
            {{ showOnScreen }}
          </h4>

          <ion-button *ngIf="highLightFlag" (click)="Highlight_Done()">Save</ion-button>
         

     <!-- jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->

      <ion-grid>
        <ion-row>
          <ion-col *ngIf="highLightFlag == false" >
            <ion-button *ngIf="showOnScreen" (click) = "saveText()">Save Edits</ion-button>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <ion-button (click)="cliked()">Value </ion-button> -->

      <!-- <ion-grid *ngIf="loadingDone">
        here is the loaded
        {{ texts_array[1] }}
      </ion-grid> -->
      







  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
