<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Notes
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding >
 



  
      <ion-grid>
    
        <ion-row *ngFor="let y of Page2.highlights" >
          <ion-card *ngIf="y">
            <ion-card-content (click)="go(y)">
              {{ y }} 
            </ion-card-content>
          </ion-card>

      
    
        
        </ion-row>
      
      </ion-grid>
    



  <ion-button (click)="destroy()">Clear All</ion-button>

  
</ion-content>